
.App{
  text-align: justify;
  margin: 5%;
}
.link{
  text-decoration: none;
  margin-left: 3%;
}
.task-name{
  cursor: pointer;
}
.completed-task{
  
  text-decoration: line-through;
}
.clearIcon{
  cursor: pointer;
}
.task{
 text-align:justify;
}